@charset "utf-8";

.container {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  padding: 5px 40px 35px 100px;
  text-align: center;
  color: red;
  font-size: 80pt;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
}
/* 
.middle {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
} */

.search {
  border-radius: 20px;
  margin: 40px;
  padding: 10px;
  width: 200px;
  height: 23px;
}

.textbox {
  font-size: 30px;
  text-decoration: underline;
}

body {
  background-image: url('/images/tornadobackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0px;
}

ul li {
  margin: 10px;
}

.tips {
  display: flex;
  font-size: 25px;
  color: black;
}

.footer {
  margin-top: 74px;
  padding: 5px 40px 35px 100px;
  display: flex;
  justify-content: center;
  font-size: 18pt;
}
