@charset "utf-8";

.container {
    display: flex;
    flex-direction: column;
}

.title {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    border: thick double black;
    padding: 5px 40px 35px 100px;
    text-align: center;
    color: red;
    font-size: 80pt;
    background-color: rgb(189, 187, 187);
}

ul li {
    margin: 30px;
}

.fireHelp {
    border: thick double black;
    display: flex;
    background-color: aliceblue;
    font-size:  42px;
    color: red;
}

.footer {
    margin-top: 200px;
    padding: 5px 40px 35px 100px;
    display: flex;
    justify-content: center;
    border: 6px double black;
    text-align: center;
    font-size: 18pt;
    background-color: rgb(189, 187, 187);
}