@charset "utf-8";

.container {
  display: flex;
  flex-direction: column;
}

body {
  background-image: url(images/help.png);
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: right;
}

.title {
  margin-bottom: 60px;
  text-decoration: underline;
  display: flex;
  justify-content: left;
  padding: 5px 40px 35px 100px;
  text-align: center;
  color: red;
  font-size: 80pt;
}

ul li {
  margin: 30px;
}

.emergencyHelp {
  display: flex;
  font-size: 35px;
  color: black;
}

.footer {
  margin-top: 300px;
  padding: 5px 40px 35px 100px;
  display: flex;
  justify-content: left;
  font-size: 18pt;
}
