@charset "utf-8";

html,
body {
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: 7px;
  border-bottom-width: 9px;
}
.container {
  background-image: url(images/backgroundimage.jpg);
  background-size: 35%;
  display: flex;
  flex-direction: column;
  padding-bottom: 225px;
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
  color: red;
  font-size: 60pt;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
/* 
.middle {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
} */

.search {
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
  margin: 40px;
  padding: 10px;
  width: 200px;
  height: 23px;
}

.textbox {
  font-size: 30px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 20% auto; /* 20% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modalBtn {
  font-size: 25px;
  padding: 6px 18px;
  background-color: red;
  border-radius: 11px;
}

.stick-person {
  width: 300px;
  height: 300px;
  opacity: 0.6;
}
.stickMan {
  display: flex;
  justify-content: left;
}

ul li {
  margin: 10px;
}

.tips {
  display: flex;
  font-size: 25px;
  color: black;
}

.footer {
  /* padding: 5px 40px 35px 50px; */
  font-size: 15pt;
  border-style: solid;
  border-radius: 7px;
  border-bottom-width: 5px;
  text-align: center;
}
